
@media screen and (max-width: 1297px) {
  .container {
    width: 1200px;
  }
  .banner span {
    width: 269px;
    height: 269px;
}
.oil__form {
  width: 52.5%;
}
.oil__description {
  width: 47.5%;
}
}
/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .main__search {
    padding: 20px;
  }
  .main__title,
  .main__search-wrap {
    margin-bottom: 20px;
  }
  .header__top-nav ul li:not(:last-child) {
    margin-right: 15px;
}
.header__top-nav ul li a {
  font-size: 18px;
  line-height: 20px;
}
.banner span {
  width: 209px;
  height: 209px;
}
.wheels__form-sel {
  margin-left: -8px;
}
.oil__form-wrap {
  width: 25%;
}
.oil__form {
  width: 53.5%;
}
.oil__description {
  width: 46.5%;
}
.b-thumb,
.addFile-icon {
  width: 50%;
}
.addFile-icon {
  min-width: 150px;
}
.newprod__input-part:not(:last-child) {
  margin-right: 23px;
}
}
 
/* 769-993px */
@media screen and (max-width: 993px) {
  .container{
      width: 90%;
  }
  .header__nav {
    position: absolute;
    top: 0;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    right: -100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
         box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    width: 50%;
    z-index: 11;
  }
  .header__nav.open {
    overflow-y: scroll;
    right: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav ul > li.menu-item-has-children > .sub-wrap {
    position: relative;
  }
  .header__nav > ul:first-child {
    margin-right: 0;
}
  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    margin: 0;
  }
  .header__nav > ul > li,
  .header__top-nav ul li {
    border-bottom: 1px solid rgba(25, 25, 25, 0.2);
    width: 100%;
    padding: 20px 20px 20px 11%;
    margin-right: 0 !important;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav > ul > li > a,
  .header__top-nav ul li a {
    color: #212121;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .header__nav > ul > li.menu-item-has-children:first-child > a::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    top: 3px;
    right: 0;
    bottom: 0;
    margin: auto 0;
    background: url(../img/svg/shevr.svg) no-repeat 0 0 / cover;
  }
  .header__nav > ul > li.menu-item-has-children:first-child > a {
    position: relative;
    padding-right: 22px;
}
.header__nav .sub-menu > ul li.menu-item-has-children > .sub-wrap {
  position: relative;
  left: 0;
}
.header__nav .sub-menu > ul li.menu-item-has-children {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__nav ul > li.menu-item-has-children .sub-menu {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.sub-title {
  display: none;
}
  .menu_btn {
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    cursor: pointer;
    z-index: 12;
  }

  .bar {
    position: relative;
    display: block;
    width: 29px;
    height: 5px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
  .bar:nth-of-type(1) {
    top: 9px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(2) {
    top: 12px;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    transition: ease 0.3s;
         -webkit-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
            -moz-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
              -o-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
                 animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(3) {
    top: 15px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .menu_btn.open .bar:nth-of-type(1) {
    background: #212121;
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .menu_btn.open .bar:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.open .bar:nth-of-type(3) {
    background: #000;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }

  .main .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main__search,
  .main__slider,
  .offer__aside,
  .offer__catalog {
    width: 100%;
  }
  .main__foto {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__slider {
    margin-bottom: 30px;
  }
  .offer .offer__catalog {
    margin-bottom: 30px;
  }
  .main__foto-item {
    height: auto;
    width: 48%;
    margin-bottom: 30px;
  }
  .offer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__search {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .viewed,
  .aside__shops {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .viewed__item {
    width: 47%;
  }
  .offer__aside-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .aside__shop {
    width: 49%;
  }
  .aside__shop:not(:last-child) {
    margin-bottom: 0;
  }
  .catalog__card {
    width: 25%;
  }
  .offer__banner {
    height: auto;
  }
  .offer {
    padding-bottom: 50px;
  }
  .footer__logo-img img {
    display: block;
    width: 100%;
  }
  .footer__mail {
    margin-right: 0;
    width: 45%;
  }
  .footer__sm-menu li:not(:last-child) {
    margin-right: 10px;
}
.footer__contacts {
  width: 17.5%;
}
.header {
  position: relative;
}
.header__wrap-line {
  margin-bottom: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.header__search {
  width: 50%;
  margin-right: 0;
}
.logo {
  width: 50%;
  margin-bottom: 10px;
}
.header__top-wrap {
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__top-nav {
  width: 100%;
  margin-bottom: 20px;
}
.header__top-nav ul {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__top-nav ul li:not(:last-child) {
  margin-right: 0;
}
.square__btn  {
  margin-bottom: 20px;
  width: 100%;
}
.header__lang select {
  color: #fff;
  background: transparent;
}
.header__favorite path,
.header__login path {
  stroke: #fff;
}
.wrap__adaptive {
  width: 20%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__tech {
  text-align: center;
  margin-top: 10px;
}
.header__lang select option {
  color: #212121;
}
.banner {
  height: 230px;
  margin-bottom: 30px;
}
.banner span {
  right: 0;
  left: 0;
  margin: auto;
}
.shop__meta {
  width: 100%;
}
.shop__wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.information {
  width: 100%;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.shop__soc, .shop__cont {
  width: 45%;
  margin-bottom: 10px;
}
.shop .title-m {
  margin-bottom: 30px;
}
.shop .catalog__card {
  width: 25%;
}
.member__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.member__right {
  width: 100%;
  margin-bottom: 20px;
}
.member__top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.member {
  padding-bottom: 30px;
}
.wheels__inputs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}
.wheels__form-sel {
  width: 100%;
}
.oil__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.oil__form,
.oil__description {
  width: 100%;
}
.oil__form {
  margin-bottom: 10px;
}
.newprod__item {
  width: 100%;
}
.newprod__input-alert {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  max-width: unset;
  padding: 15px;
  margin-top: 5px;
}
}

/* 577-768px */
@media screen and (max-width: 768px) {
  .wrap__adaptive {
    width: 25%;
  }
  .catalog__card {
    width: 33.33%;
  }
  .offer__banner {
    margin: 30px 0;
  }
  .footer__menu {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
  }
  .footer__bottom .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0 !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts-item:not(:last-child),
  .footer__contacts-item span {
    margin-right: 10px;
  }
  .footer__contacts {
    margin-top: 10px;
  }
  .footer__mail {
    width: 61%;
  }
  .footer__logo {
    width: 31%;
  }
  .footer__form {
    margin-bottom: 13px;
  }
  .shop .catalog__card {
    width: 33.33%;
  }
  .member__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .member__about,
  .member__cont {
    width: 100%;
  }
  .member__cont {
    margin-bottom: 20px;
  }
  .member__ava {
    width: 200px;
    height: 200px;
  }
  .wheels__form-item {
    width: 50%;
  }
  .wheels__wrap::after {
    display: none;
  }
  .wheels__form-item:last-child {
    width: 100%;
  }
  .wheel__firm {
    padding-bottom: 0;
  }
  .oil__form-wrap {
    width: 33.33%;
}
.newprod__name {
  font-size: 15px;
}
.newprod__input-part:not(:last-child) {
  margin: 0 0 15px;
}
.newprod__input-part {
  width: 100%;
}
.error-page {
  padding: 50px 0;
}
.error__tit {
  font-size: 26px;
  line-height: 30px;
}
.error__img img {
  display: block;
  width: 100%;
  height: auto;
}
.error__wrap p > br {
  display: none;
}
}


/* 320-576px */
@media screen and (max-width: 576px) {
  .viewed__item,
  .aside__shop {
    width: 100%;
  }
  .aside__shop:not(:last-child) {
    margin-bottom: 15px;
}
.catalog__card {
  width: 50%;
}
.offer__banner {
  margin: 15px 0;
  padding: 0;
}
.footer__menu {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}
.footer__logo {
  width: 100%;
  margin-bottom: 10px;
}
.footer__mail {
  width: 100%;
}
.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__contacts-item:not(:last-child) {
  margin: 0 0 10px !important;
}
.logo img {
  display: block;
  width: 100%;
  height: auto;
}
.header__search {
  width: 100%;
  margin-bottom: 10px;
}
.header__btn {
  margin: 0 auto;
}
.wrap__adaptive {
  width: 35%;
}
.logo {
  width: 44%;
}
.header__nav {
  width: 90%;
}
.breadcrumbs {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.breadcrumbs > span {
  margin-bottom: 5px;
}
.shop__meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.shop__meta .autodoc__info-stars {
  margin-bottom: 5px;
}
.shop__soc, .shop__cont {
  width: 100%;
}
.title-l {
  font-size: 26px;
  line-height: 32px;
}
body {
  font-size: 16px;
}
.shop__title {
  font-size: 32px;
  line-height: 35px;
}
.shop .catalog__card {
  width: 50%;
}
.shop {
  padding-bottom: 30px;
}
.member__top .autodoc__info-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.member__top .autodoc__info-stars {
  margin: 0 0 10px;
}
.member__title {
  margin-bottom: 10px;
}
.wheels__wrap {
  padding: 20px 10px;
  margin-bottom: 30px;
}
.wheels__input,
.wheels__inputs {
  font-size: 20px;
  line-height: 24px;
}
.wheels__input {
  width: 44px;
}
.wheels__input:first-child {
  width: 56px;
}
.wheels__form-item {
  width: 100%;
  padding: 8px;
}
.wheels__form-sel {
  margin: -8px;
  width: auto;
}
.oil__form-wrap {
    width: 50%;
}
.oil__wrap {
  padding: 15px;
}
.newprod__input {
  width: 100%;
}
.newprod__name {
  margin: 0 0 5px;
}
.addFile-icon {
  min-width: 125px;
}
}
@media screen and (max-width: 375px) {
 .header__favorite svg,
 .header__login svg {
   width: 20px;
 }
 .header__lang select {
   padding: 0 5px 5px;
 }
 .catalog__card {
   width: 100%;
 }
 .catalog__card-img {
   height: 200px;
 }
 .catalog__card-txt {
  padding: 16px 65px 0;
}
.footer__sm-menu li:not(:last-child) {
  margin-right: 6px;
}
.shop .catalog__card {
  width: 100%;
}
.b-thumb, .addFile-icon {
  width: 150px;
}
}
